.debug {
  * {
    border-style: solid;
    border-color: rgba(76, 74, 103, 0.211);
  }

  .hero {
    background-color: aqua;
  }

  /* altezza da ridefinire  */
  .assets {
    height: 200px;
    width: fit-content;
  }
}

/* #common region */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --neutral-col: #ffffff;
  --light-col: #b4d0e6;
  --button-col: #0061fe;
  --dark-col: black;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

.d-flex {
  display: flex;
}

.button {
  background-color: var(--button-col);
  padding: 5px 10px;
  display: inline-block;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* #region header*/

header {
  background-color: var(--neutral-col);
}

ul {
  list-style: none;
}

.navbar {
  align-items: center;
}

.navbar a {
  text-decoration: none;
}

.nav1 {
  flex-grow: 2;
}

/* #region main */

/* jumbotron */
.col60 {
  width: 60%;
}

.col40 {
  width: 40%;
  flex-direction: column;
}

/* 1 sezione di infobox  */
/* colonne che devono prendere 4/12 + 1 da 12/12  */

.row {
  flex-wrap: wrap;
}

.col4 {
  width: calc(100% / 12 * 4);
}

.col12 {
  width: 100%;
}

/* aspetti estetici prima serie di card */

.headercard {
  justify-content: center;
}

.bodycard {
  hr {
    width: 40px;
  }

  /* fare variabile di colore  */
  .grey {
    color: grey;
  }
}
/* aggiustare dopo aver impostato il footer */
.col6 {
  width: 33%;
}

.col5 {
  flex-grow: 1;
}
