.debug {
  * {
    border-style: solid;
    border-color: rgb(76, 74, 103);
  }

  .hero {
    background-color: aqua;
  }
}

/* #common region */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --neutral-col: #ffffff;
  --light-col: #b4d0e6;
  --button-col: #0061fe;
  --dark-col: black;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

.d-flex {
  display: flex;
}

/* non mi fa impazzine ma lo aggiustiamo dopo  */
.button {
  background-color: var(--button-col);
  padding: 5px 10px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* #region header*/

header {
  background-color: var(--neutral-col);
}

ul {
  list-style: none;
}

.navbar {
  align-items: center;
}
.nav1 {
  flex-grow: 2;
}

/* link non sottolineati da capire se fare 2 regole, oopure usare tipo style nell'html */

a {
  text-decoration: none;
}

/* #region main */

/* jumbotron */
.col60 {
  width: 60%;
}

.col40 {
  width: 40%;
  flex-direction: column;
}

/* 1 sezione di infobox  */
/* colonne che devono prendere 4/12 + 1 da 12/12  */

.row {
  flex-wrap: wrap;
}

.col4 {
  width: calc(100% / 12 * 4);
}

.col12 {
  width: 100%;
}

.col6 {
  width: 50%;
}
