* {
  background-color: rgb(112, 216, 216);
}

.debug {
  * {
    border-style: solid;
  }

  header {
    background-color: blueviolet;
  }
}

/* #common region */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

.navbar {
  display: flex;
}

.nav1 {
  flex-grow: 2;
}
